body {
    background-color: #f0f0f0;
    align-items: center;
    font-size: 20px;
}

#main-div{
    background-color: white;
    padding: 5%;
    margin: 1% 15% 1% 15%;
    text-align: center;
}

.left-aligned{
    text-align: left;
}
.right-aligned{
    text-align: right;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
hr{
    border: 1px solid black;
    padding: 0;
    margin: 0;
}
ul>li{
    text-align: left;
}

table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}